*[data-type~='brightness-trigger'] {
  & .clip {
    position: relative;
  }
  & *[data-value~='light'] {
    &.active {
      transform: translateY(0%);
    }
    &.inactive {
      transform: translateY(-100%);
    }
  }

  & *[data-value~='dark'] {
    position: absolute !important;
    left: 0;
    &.active {
      transform: translateY(0%);
    }
    &.inactive {
      transform: translateY(100%);
    }
  }
}
