.cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-width: 1.5px;
  border-style: solid;
  border-color: #e5e7eb;
  transition: height 0.3s, width 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
  pointer-events: none;
}
