.widget {
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.active {
    opacity: 1;
  }
  &.inactive {
    opacity: 0.25;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
