.quick-link {
  position: relative;

  & > .link {
    @apply text-gray-500;
    @apply ml-1.5;
    @apply text-2xl;

    position: absolute;
    top: 50%;
    left: 100%;
    cursor: pointer;
    opacity: 0;
    transform: translate(-8px, -50%);
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
  }
  &:hover > .link {
    opacity: 1;
    transform: translate(0, -50%);
  }
  & > * {
    line-height: normal !important;
  }
}
