.text-animated-hover {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  line-height: normal !important;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;

  & .text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    color: inherit;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: center right;
    transition: opacity 300ms, transform 300ms;
  }

  &:hover .text::after {
    transform: scaleX(1);
    transform-origin: center left;
  }
}
