<html>
  <head>
    <title>Post - $title$</title>
    <script
      src="https://kit.fontawesome.com/56e0eb8f60.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/index.css" />
    <script type="module" src="/scripts/scroll.js"></script>
    <script type="module" src="/scripts/splitWords.js"></script>
    <script type="module" src="/scripts/scrollObserver.js"></script>
    <script type="module" src="/scripts/loadObserver.js"></script>
    <script type="module" src="/scripts/markdown.js"></script>
    <script type="module" src="/scripts/tableOfContents.js"></script>
    <script type="module" src="/scripts/quickLink.js"></script>
    <script type="module" src="/scripts/navigation.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/8.0.0-alpha.2/rxjs.umd.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="boundary">
    $partial("components/header.html")$
    <main id="container" class="flex flex-col px-14 mb-32">
      <section class="lg:flex lg:flex-row-reversed">
        <div
          class="
            animated-fade-enter
            hidden
            lg:block
            flex-1
            max-w-xl
            min-w-max
            sticky
            top-10
            self-start
            mr-8
            pt-1
          "
          data-observer="scroll"
        >
          <div class="target mb-8" style="--index: 1">
            <span class="text-xl block">$author$</span>
            <span class="text-sm block">$date$</span>
            $partial("components/tags.html")$
          </div>
          <div class="target" style="--index: 3">
            $partial("components/table-of-contents.html")$
          </div>
        </div>
        <div class="max-w-4xl">
          <div class="max-w-xl min-w-max">
            <div class="quick-link mb-2" data-quick_link>
              <h1
                class="word-animated-enter text-5xl"
                data-word="$title$"
                data-observer="scroll"
              ></h1>
            </div>
            <div class="animated-fade-enter lg:hidden" data-observer="scroll">
              <div class="target" style="--index: 2">
                <span class="text-xl block">$author$</span>
                <span class="text-sm block">$date$</span>
                $partial("components/tags.html")$
              </div>
            </div>
          </div>
          <div class="animated-fade-enter" data-observer="scroll">
            <div class="markdown target" style="--index: 3">$body$</div>
          </div>
          $if(next)$ $for(next)$
          <div class="animated-fade-enter" data-observer="scroll">
            <a class="mr-1 text-animated-hover text" href="$url$">
              <span class="text"> $title$ </span>
            </a>
          </div>
          $endfor$ $endif$ $if(prev)$ $for(prev)$
          <div class="animated-fade-enter" data-observer="scroll">
            <a class="mr-1 text-animated-hover text" href="$url$">
              <span class="text"> $title$ </span>
            </a>
          </div>
          $endfor$ $endif$
        </div>
      </section>
    </main>
    $partial("components/footer.html")$
  </body>
</html>
