<footer class="py-8 px-14 border-t">
  <div class="grid grid-cols-9 text-sm">
    <div class="col-span-5">
      <h3 class="mb-5">Newsletter</h3>
      <form class="w-3/4 max-w-xl my-0">
        <input
          class="
            placeholder:text-slate-500
            block
            bg-slate-100
            w-full
            h-12
            rounded-xl
            py-2
            pl-9
            pr-3
            shadow-sm
            focus:outline-none
            sm:text-sm
          "
          placeholder="Subscribe to get my latest content by email"
          type="text"
          name="email"
        />
      </form>
    </div>
    <div class="col-span-2 py-2 flex flex-col">
      <h3 class="mb-5">Contact</h3>
      <div class="flex items-center">
        <span class="bullet mr-2" />
        <a class="text-animated-hover" href="mailto:kskkido@gmail.com">
          <span class="text">kskkido@gmail.com</span>
        </a>
      </div>
    </div>
    <div class="col-span-2 py-2 flex flex-col">
      <h3 class="mb-5">Connect</h3>
      <div class="flex items-center mb-2">
        <span class="bullet mr-2" />
        <a class="text-animated-hover" href="https://github.com/kskkido">
          <span class="text">Github</span>
        </a>
      </div>
      <div class="flex items-center">
        <span class="bullet mr-2" />
        <a
          class="text-animated-hover"
          href="https://www.linkedin.com/in/keisuke-kido-037888b5/"
        >
          <span class="text">Linkedin</span>
        </a>
      </div>
    </div>
    <div class="col-span-7 my-16"></div>
    <div class="col-span-7 text-xs text-slate-500">
      <p>Keisuke Kido © 2022</p>
    </div>
    <div class="col-span-7 text-xs text-slate-500">
      <p class="flex items-center">
        <span class="mr-1"> Built with </span>
        <a
          class="text-animated-hover text-black text"
          href="https://jaspervdj.be/hakyll/"
        >
          <span class="text"> Hakyll </span>
        </a>
      </p>
    </div>
  </div>
</footer>
