<header id="container" class="animated-fade-enter py-16" data-observer="load">
  <nav class="target flex flex-row justify-between px-14">
    <a class="grow-1 py-4" href="/" data-type="link">Logo</a>
    <ul class="grow-1 flex flex-row">
      <li class="px-8 py-4 rounded-xl transition duration-200">
        <a
          class="text-animated-hover"
          href="/posts.html"
          data-type="link"
          data-observer="scroll"
        >
          <span class="text text-xs">Posts</span>
        </a>
      </li>
      <li class="px-8 py-4 ml-2 rounded-xl transition duration-200">
        <a
          class="text-animated-hover"
          href="/tags.html"
          data-type="link"
          data-observer="scroll"
        >
          <span class="text text-xs">Categories</span>
        </a>
      </li>
      <li class="px-8 py-4 ml-2 rounded-xl transition duration-200">
        <a class="text-animated-hover" data-type="link" data-observer="scroll">
          <span class="text text-xs">About</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
