<div
  class="row-item grid grid-cols-9 py-8 border-b items-center"
  data-identifier="$identifier$"
>
  <div class="col-span-5">
    <a
      class="text-animated-enter mb-2 text-2xl text-animated-hover"
      href="$url$"
      data-type="link"
      data-observer="load"
    >
      <span class="text"> $title$ </span>
    </a>
  </div>
  <div class="text-animated-enter col-span-2" data-observer="load">
    $for(tags)$
    <a
      class="mr-1 text-animated-hover text text-sm"
      href="$url$"
      data-type="link"
    >
      <span class="text"> $name$ </span>
    </a>
    $endfor$
  </div>
  <div class="text-animated-enter text-xs col-span-2" data-observer="load">
    <span class="text">$date$</span>
    <span class="dot"></span>
    <span class="text">$read-time-minutes$ minutes read</span>
  </div>
</div>
