<div class="grid grid-cols-8 gap-14 min-h-max" data-featured_posts>
  <div
    class="col-span-4 w-full h-full animated-left-enter"
    data-observer="scroll"
  >
    <div class="relative w-full h-full target">
      $for(posts)$ $partial("components/post-featured-preview.html")$
      $partial("components/post-featured-preview.html")$ $endfor$
    </div>
  </div>
  <div class="col-span-4 flex flex-col pl-4 justify-center">
    $for(posts)$ $partial("components/post-featured.html")$
    $partial("components/post-featured.html")$ $endfor$
  </div>
</div>
