<div
  class="flex flex-col py-32"
  data-featured_post
  data-featured_post_id="$identifier$"
>
  <div
    class="grid grid-cols-8 items-center"
    data-featured_post
    data-featured_post_id="$identifier$"
  >
    <div class="col-span-1">
      <div class="mb-2 text-sm text-animated-enter" data-observer="scroll">
        <span class="text">$date$</span>
      </div>
    </div>
    <div class="col-span-7 flex flex-col">
      <div class="mb-8">
        <a
          class="mr-1 text-animated-enter text text-8xl"
          href="$url$"
          data-type="link"
          data-observer="scroll"
        >
          <span class="text"> $title$ </span>
        </a>
        <div></div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-8 items-center">
    <div class="col-span-1"></div>
    <div class="text-animated-enter col-span-7" data-observer="scroll">
      $for(tags)$
      <a
        class="mr-1 text-animated-hover text text-sm"
        href="$url$"
        data-type="link"
      >
        <span class="text"> $name$ </span>
      </a>
      $endfor$
    </div>
  </div>
</div>
