<div class="animated-fade-enter flex items-center" data-observer="load">
  <div class="target" style="--index: 2">
    <span class="text-xs opacity-25">sort by</span>
  </div>
  <div class="target mx-4" style="--index: 2">
    <div class="line w-10 opacity-25"></div>
  </div>
  <div class="target" style="--index: 2">
    <span
      class="widget active cursor-pointer text-xs"
      data-value="date"
      data-group="sort"
      >date</span
    >
  </div>
  <div class="target" style="--index: 2">
    <span class="opacity-25 mx-4 text-xs">|</span>
  </div>
  <div class="target" style="--index: 2">
    <span
      class="widget inactive cursor-pointer text-xs"
      data-value="title"
      data-group="sort"
      >title</span
    >
  </div>
  <div class="target" style="--index: 2">
    <span class="opacity-25 mx-4 text-xs">|</span>
  </div>
  <div class="target" style="--index: 2">
    <span
      class="widget inactive cursor-pointer text-xs"
      data-value="length"
      data-group="sort"
      >length</span
    >
  </div>
  <div class="target mx-6" style="--index: 2">
    <div class="line w-3.5 opacity-25"></div>
  </div>
  <div class="target" style="--index: 2">
    <span
      class="widget active cursor-pointer text-xs"
      data-value="descending"
      data-group="order"
      >descending</span
    >
  </div>
  <div class="target" style="--index: 2">
    <span class="opacity-25 mx-4 text-xs">|</span>
  </div>
  <div class="target" style="--index: 2">
    <span
      class="widget inactive cursor-pointer text-xs"
      data-value="ascending"
      data-group="order"
      >ascending</span
    >
  </div>
</div>
