<ul id="table-of-contents" class="table-of-contents">
  $for(headers)$
  <li>
    <div class="flex flex-row items-center">
      <span class="mr-1">-</span>
      <a class="text-animated-hover" data-target="$identifier$">
        <span class="text"> $label$ </span>
      </a>
    </div>
    <ul class="pl-3 pt-1">
      $for(headers)$
      <li class="mb-1">
        <div class="flex flex-row items-center">
          <span class="mr-1">-</span>
          <a class="text-animated-hover" data-target="$identifier$">
            <span class="text"> $label$ </span>
          </a>
        </div>
      </li>
      $endfor$
    </ul>
  </li>
  $endfor$
</ul>
