<div class="grid grid-cols-8 gap-8 h-96">
  <div class="col-span-8 flex flex-col px-8 py-14 border justify-between">
    <div>
      <div class="mb-12">
        <a class="mb-2 text-3xl text-animated-hover" href="$url$">
          <span
            class="word-animated-enter text"
            data-word="$name$"
            data-observer="scroll"
          ></span>
        </a>
        <div class="animated-fade-enter" data-observer="scroll">
          <p class="target" data-observer="scroll">$size$ posts</p>
        </div>
      </div>
    </div>
  </div>
</div>
