<div class="animated-fade-enter flex items-center" data-observer="load">
  <div class="target" style="--index: 2">
    <span
      class="widget cursor-pointer text-xs"
      data-value="list"
      data-group="view"
      >list view</span
    >
  </div>
  <div class="target" style="--index: 2">
    <span class="opacity-25 mx-4 text-xs">|</span>
  </div>
  <div class="target" style="--index: 2">
    <span
      class="widget cursor-pointer text-xs"
      data-value="grid"
      data-group="view"
      >grid view</span
    >
  </div>
</div>
