<footer
  id="footer"
  class="flex flex-col-reverse items-center sm:flex-row sm:justify-between px-8 sm:px-14 py-8 sm:py-14 text-xs text-secondary"
  data-type="footer"
>
  <div class="flex items-center justify-start mt-3 sm:mb-0">
    <div class="flex items-center clip mr-2">
      <span class="text inline-block mr-1" data-type="content">
        Built using
      </span>
      <a
        class="text-animated-hover text text-primary"
        href="https://jaspervdj.be/hakyll/"
        data-type="content"
      >
        <span class="text"> Hakyll </span>
      </a>
    </div>
  </div>
  <div class="flex flex-row items-center sm:justify-end">
    <div class="clip mr-6">
      <a
        class="text-animated-hover"
        href="https://github.com/kskkido"
        target="_blank"
        data-type="content"
      >
        <span class="text">Github</span>
      </a>
    </div>
    <div class="clip mr-6">
      <a
        class="text-animated-hover"
        href="https://www.linkedin.com/in/keisuke-kido-037888b5/"
        target="_blank"
        data-type="content"
      >
        <span class="text">Linkedin</span>
      </a>
    </div>
    <div class="clip">
      <a
        class="text-animated-hover"
        href="mailto:kskkido@gmail.com"
        data-type="content"
      >
        <span class="text">kskkido@gmail.com</span>
      </a>
    </div>
  </div>
</footer>
