<div class="w-full px-8 sm:px-14 py-6 sm:py-16 invisible sm:hidden">
  <div class="flex flex-row justify-between">
    <div class="flex grow-1 py-4" data-type="logo">
      <a class="block" href="/" data-type="link content">kskkido</a>
    </div>
  </div>
</div>
<header
  id="header"
  class="w-full px-8 sm:px-14 py-6 sm:py-16 fixed sm:relative top-0 text-primary"
  data-type="header"
>
  <nav class="flex flex-row justify-between">
    <ul class="flex sm:hidden flex-row grow-1">
      <button class="pr-8 py-4" data-type="menu-trigger">
        <div class="clip">
          <div class="clip relative" data-type="content">
            <a class="text-animated-hover" data-type="link" data-value="open">
              <span class="text text-xs">Menu</span>
            </a>
            <a class="text-animated-hover" data-type="link" data-value="closed">
              <span class="text text-xs">Close</span>
            </a>
          </div>
        </div>
      </button>
    </ul>
    <ul class="hidden sm:flex flex flex-row grow-1">
      <li class="pr-8 py-4 rounded-xl transition duration-200">
        <div class="clip">
          <a class="text-animated-hover" href="/" data-type="link content">
            <span class="text text-xs">Home</span>
          </a>
        </div>
      </li>
      <li class="px-8 py-4 rounded-xl transition duration-200">
        <div class="clip">
          <a
            class="text-animated-hover"
            href="/posts.html"
            data-type="link content"
          >
            <span class="text text-xs">Posts</span>
          </a>
        </div>
      </li>
      <li class="px-8 py-4 ml-2 rounded-xl transition duration-200">
        <div class="clip">
          <a
            class="text-animated-hover"
            href="/tags.html"
            data-type="link content"
          >
            <span class="text text-xs">Tags</span>
          </a>
        </div>
      </li>
      <li class="px-8 py-4 ml-2 rounded-xl transition duration-200">
        <div class="clip">
          <a class="text-animated-hover" data-type="link content">
            <span class="text text-xs">About</span>
          </a>
        </div>
      </li>
    </ul>
    <ul class="flex-row grow-1">
      <button class="pl-8 py-4" data-type="brightness-trigger">
        <div class="clip">
          <div class="clip relative" data-type="content">
            <a class="text-animated-hover" data-type="link" data-value="dark">
              <span class="text text-xs">Dark</span>
            </a>
            <a class="text-animated-hover" data-type="link" data-value="light">
              <span class="text text-xs">Light</span>
            </a>
          </div>
        </div>
      </button>
    </ul>
  </nav>
</header>
