<div class="menu text-primary" data-type="menu">
  <header class="py-6 invisible">
    <nav class="flex flex-row justify-between px-14">
      <div class="flex grow-1 py-4">
        <div class="clip">
          <a class="block" href="/" data-type="link content">Home</a>
        </div>
      </div>
    </nav>
  </header>
  <div class="px-8">
    <ul class="text-4xl">
      <li class="mb-2">
        <div class="clip">
          <a class="text-animated-hover" href="/" data-type="link content">
            <span class="text">Home</span>
          </a>
        </div>
      </li>
      <li class="mb-2">
        <div class="clip">
          <a
            class="text-animated-hover"
            href="/posts.html"
            data-type="link content"
          >
            <span class="text">Posts</span>
          </a>
        </div>
      </li>
      <li class="mb-2">
        <div class="clip">
          <a
            class="text-animated-hover"
            href="/tags.html"
            data-type="link content"
          >
            <span class="text">Tags</span>
          </a>
        </div>
      </li>
      <li class="mb-2">
        <div class="clip">
          <a class="text-animated-hover" href="/" data-type="link content">
            <span class="text">About</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
